name: Docker Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t stroxapi .

      - name: List Docker images
        run: docker images

      - name: Run container and test
        run: |
          docker run --name test-stroxapi -d stroxapi
          docker ps -a
